html {
  background-color: #FFFFFF;
  font-family: "Roboto";
  padding: 0px;
}

body{
  margin: auto;
}
p {
  margin: auto;
}

@media screen and (max-width: 600px) {

/*  index.html     */
  .box {
    background-color: #000000;
    opacity: 0.5;
    position: absolute;
    z-index: 3;
    width: 500px;
    height: 90px;
    right: 90px;
    top: 25px;
  }

  .box2 {
    position: absolute;
    z-index: 6;
    top: 500px;
    transform: scale(.5);
  }
  .fb {
    position: absolute;
    z-index: 3;
    width: 75px;
    height: 75px;
    left: 340px;
    top: 30px;
  }
  .logo {
    color: #FFFFFF;
    font-size: 24px;
    padding-left: 20px;
    padding-bottom:25px;
    font-family: "Roboto", sans-serif;
    position: absolute;
    display: flex;
    z-index: 4;
    bottom: 700px;
  }

  .logo p {
    padding-top: 30px;
  }


  .header-image {
    width: 440px;
  }



/* events*/

    .events {
      padding: 30px;
      padding-bottom: 10px;
      width: 60%;
      font-size: 20px;
    }

    .menuimg {
      box-shadow: 5px -5px 0px black;
    }

    .menu-1 {
      display: flex;
      justify-content: center;
    }

    .menu-1 img {
      width: 150px;
      margin: auto;
    }

    .menu-text1 {
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
    }


    .menu-2 {
      display: flex;
      justify-content: center;
    }

    .menu-2 img {
      width: 150px;
      margin: auto;
    }

    .menu-text2 {
      display: flex;
      justify-content: center;
    }


.hours {
  display: flex;
  justify-content: center;
  padding-top:40px;
}

.hours p {
  padding-left: 40px;
}


.hoursimg {
  width: 280px;
  padding-left: 60px;
}

.location {
  display: flex;
  padding-top: 10px;
}

.locationtxt {
  margin: 5px, 5px, 5px, 5px;
}
.mapbox {
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.mapimg {
  width: 300px;
}

.map {
  width: 75px;
  height: 75px;
  padding: 10px;
}


.bar {
  background-color: #000000;
  position: relative;
  height: 30px;
  margin: 0px;
}

.reviews-box {
  width: 100px;
  height: 100px;
  background-color: #f1f1f1;
  position: absolute;
  z-index: 5;
  left: 25px;
  padding: 10px;
  margin: 10px;
  top: 1100px;
}

.reviews {
  padding-top: 10px;
}
.reviews img {
  width: 430px;
}

/* Semiosalong */

.alter-text{
  position: absolute;
  z-index: 6;
  top: 500px;
  left: 110px;
  transform: scale(0.8);
}

}

@media screen and (min-width: 601px) {
.topnav {
  background-color: #000000;
  overflow-x: hidden;
  padding-left: 20px;
  padding-bottom: 10px;
  display: flex;
  width: 700px;
  height: 40px;
  position: relative;
  z-index: 1;
}

.topnav a {
  padding: 17px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #f1f1f1;
  justify-content:
}

.topnav a:hover {
  color: #000000;
}

.topnav img {
  width: 50px;
  height: 50px;
  padding-top: 8px;
}

.fb {
  position: absolute;
  z-index: 3;
  width: 50px;
  height: 50px;
  left: 595px;
  top: 20px;
}
.logo {
  background-color: #f1f1f1;
  color: #000000;
  font-size: 30px;
  padding-left: 10px;
  padding-bottom:25px;
  font-family: "Sarina", sans-serif;
  position: relative;
  display: flex;
  z-index: 2;
}

.logo p {
  padding-top: 30px;
}

.phone {
  font-family: "Anek Telugu", sans-serif;
  font-size: 16px;
}
.bar {
  background-color: #000000;
  position: relative;
  height: 30px;
  margin: 0px;
}

.krempel {
  width: 100%;
}

.menu {
  padding: 30px;
  width: 60%;
  bottom: 30px;
  font-weight: bold;
}

/* Menu */
.menu-1 {
  display: flex;
}

.menu-1 img {
  width: 150px;
  align-content: center;
  justify-content: center;
}

.menu-text1 {
  display: flex;
  padding-left: 250px;
}

.menu-2 {
  display: flex;
}

.menu-2 img {
  width: 150px;
  align-content: center;
  justify-conter: center;
}

.menu-text2 {
  display: flex;
  padding-left: 250px;
}

}
